body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	align-items: center;
}

.postcard-header img {
	width: 40px;
	height: 40px;
}

.postcard-header h1 {
	width: 345px;
	height: 40px;
}

.postcard-body {
	display: flex;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: 1px solid grey;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: grey;
	padding: 5px;
}
